@{
    ViewData["Title"] = "Home Page";
}
<div class="jumbotron">
    <h1>Registration Form</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2 class="display-4">Welcome</h2>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
</div>