@{
    ViewData["Title"] = "Home Page";
}
<div class="jumbotron">
    <h1>Registration Form</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <asp:Table itemid="Table1" runat="server">
            <asp:TableRow>
                <asp:TableCell ColumnSpan="2">
                    <asp:label itemid ="Label1" runat="server" Text="Login Form"></asp:label>
                </asp:TableCell>             
            </asp:TableRow>
            <asp:TableRow>
                <asp:TableCell>
                    <asp:label itemid="Label2" runat="server" Text=""></asp:label>
                </asp:TableCell>
                <asp:TableCell>
                    <input id="Password1" type="password" />
                </asp:TableCell>
            </asp:TableRow>
            <asp:TableRow>
                <asp:TableCell>

                </asp:TableCell>
                <asp:TableCell>

                </asp:TableCell>
            </asp:TableRow>
        </asp:Table>

    </div>
</div>